@font-face {
  font-family: "AvenirBold";
  src: url("../font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "AvenirRegular";
  src: url("../font/AvenirNextLTPro-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #05040B;
}

::-webkit-scrollbar {
  width: 0.5rem;
  margin: 0 10px 0 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(5, 4, 11, 0.3);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(5, 4, 11, 0.6);
}

body {
  background-color: #ECEFDB;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1200px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "AvenirRegular";
}

.h1 {
  font-family: "AvenirBold";
  font-size: 5.5rem;
}

.h2 {
  font-family: "AvenirBold";
  font-size: 3.5rem;
  margin: 0 0 1.5rem 0;
}

.h3 {
  font-family: "AvenirRegular";
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

.h4 {
  font-family: "AvenirRegular";
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

p {
  font-family: "AvenirRegular";
  font-size: 1rem;
  line-height: 165%;
}

.section {
  padding: 10rem 0;
}

.d-none {
  display: block;
}

.header {
  padding: 1.5rem 0;
}

@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 0 0 0;
  }
}

.header-logo {
  font-family: "AvenirBold";
  font-size: 2rem;
  z-index: 200;
}

span {
  color: #F44646;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 0 1rem 0;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .nav-wrapper {
    display: block;
    position: fixed;
    width: auto;
  }
}

.links-container {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ECEFDB;
  width: 100%;
  height: 100vh;
  padding: 6.5rem 0 0 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media only screen and (min-width: 768px) {
  .links-container {
    position: relative;
    left: 0;
    height: auto;
    padding: 0;
    margin: 2.5rem 0 0 0;
    background-color: unset;
    z-index: 0;
  }
  .links-container .container {
    margin: 0;
  }
}

.show-nav {
  left: 0;
  overflow: hidden;
}

.scroll-disable {
  overflow-y: hidden;
}

.active {
  padding: 0 0 0 2.5rem;
}

.active a {
  color: #F44646 !important;
}

.links-item {
  margin: 0 0 2rem 0;
}

.links-item a {
  font-family: "AvenirRegular";
  font-size: 2.3rem;
  color: #05040B;
  position: relative;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.links-item a:hover {
  padding: 0 0 0 1.5rem;
}

@media only screen and (min-width: 768px) {
  .links-item {
    margin: 0 0 1.5rem 0;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .links-item a {
    font-size: 1rem;
  }
  .links-item a:hover {
    padding: 0 0 0 1.5rem;
  }
}

.breadsticks {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 10;
  cursor: pointer;
}

.breadsticks span {
  position: absolute;
  height: 0.1rem;
  background-color: #05040B;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.breadsticks .span-1 {
  width: 100%;
}

.breadsticks .span-2 {
  width: 80%;
  top: 18px;
}

.breadsticks:hover .span-1 {
  width: 80%;
}

.breadsticks:hover .span-2 {
  width: 60%;
}

@media only screen and (min-width: 768px) {
  .breadsticks {
    display: none;
  }
}

.close {
  top: 15px;
  width: 3rem;
  height: 2rem;
}

.close span {
  background-color: #05040B;
}

.close .span-1 {
  width: 80%;
  top: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.close .span-2 {
  top: 0;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.close:hover span {
  background-color: #05040B;
}

.close:hover .span-1, .close:hover .span-2 {
  width: 80%;
}

.content-wrapper {
  padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 3rem 0 3rem 13rem;
  }
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    padding: 3rem 0 3rem 18rem;
  }
}

.hero-wrapper {
  padding: 0 0 3rem 0;
  margin: 0 0 7rem 0;
}

.hero-wrapper h1 {
  width: auto;
  margin: 0 0 1.5rem 0;
}

.hero-wrapper p {
  width: 17rem;
  margin: 0 0 2.5rem 0;
}

.hero-wrapper a {
  text-decoration: underline;
  font-size: 1.3rem;
}

@media only screen and (min-width: 1200px) {
  .hero-wrapper h1 {
    width: 33rem;
  }
}

.about-wrapper h1 {
  width: auto;
}

.about-wrapper p {
  width: auto;
  margin: 0 0 2rem 0;
}

.about-wrapper a {
  text-decoration: underline;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1200px) {
  .about-wrapper h1 {
    width: 36rem;
  }
  .about-wrapper p {
    width: 33rem;
  }
}

.list-wrapper {
  margin: 2.5rem 0 0 0;
}

.list-container {
  width: auto;
}

@media only screen and (min-width: 1200px) {
  .list-container {
    width: 33rem;
  }
}

.list-item {
  font-family: "AvenirRegular";
  display: inline-block;
  margin: 0 1.5rem 1.5rem 0;
}

.title {
  margin: 0 0 2rem 0;
}

@media only screen and (min-width: 768px) {
  .title p {
    width: 26rem;
  }
}

.project-wrapper {
  padding: 4rem 0 0 0;
}

.project-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project-card {
  width: 100%;
  margin: 0 0 2rem 0;
}

.project-card img {
  max-width: 100%;
  margin: 0 0 1rem 0;
}

.project-card a {
  text-decoration: underline;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1200px) {
  .project-card {
    width: 100%;
    margin: 0 0 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .project-card img {
    max-width: 60%;
    margin: 0 2rem 0 0;
  }
}

.project-details {
  margin: 0 0 2rem 0;
}

.project-link-container {
  margin: 1rem 0 0 0;
}

.project-link-container a {
  margin: 0 1rem 0 0;
}

.contact-wrapper {
  padding: 5rem 0 6rem 0;
}

.contact-wrapper p {
  margin: 0 0 2.5rem 0;
}

.contact-wrapper a {
  text-decoration: underline;
  font-size: 1.3rem;
}

.social-links-wrapper {
  margin: 3rem 0 0 0;
}

.social-links-wrapper li {
  display: inline-block;
  margin: 0 2rem 0 0;
}

.footer {
  width: 100%;
  padding: 1rem 0;
}

.footer .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container p {
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */