@import './breakpoint/breakpoint';

@font-face {
    font-family: "AvenirBold";
    src: url("../font/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: "AvenirRegular";
    src: url("../font/AvenirNextLTPro-Regular.otf");
}

$white: #EFEFEF;
$black: #05040B;
$red: #F44646;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
}

::-webkit-scrollbar {
    width: 0.5rem;
    margin: 0 10px 0 0;
}
  
::-webkit-scrollbar-thumb {
    background: rgba($color: $black, $alpha: 0.3);
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $black, $alpha: 0.6)
}

body {
    background-color: $white;
}

.container {
    width: 90%;
    margin: 0 auto;
    @include tablet {
        max-width: 768px;
    }
    @include laptop {
        max-width: 1200px;
    }
    @include desktop {
        max-width: 1200px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "AvenirRegular";
}

.h1 {
    font-family: "AvenirBold";
    font-size: 4.5rem;
    @include laptop {
        font-size: 5.5rem;
    }
}

.h2 {
    font-family: "AvenirBold";
    font-size: 3.5rem;
    margin: 0 0 1.5rem 0;
}

.h3 {
    font-family: "AvenirRegular";
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.h4 {
    font-family: "AvenirRegular";
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

p {
    font-family: "AvenirRegular";
    font-size: 1rem;
    line-height: 165%;
}

.section {
    padding: 10rem 0;
}

.d-none {
    display: block;
}

.header {
    padding: 1.5rem 0;
    @include laptop {
        padding: 1rem 0 0 0;
    }
}

.header-logo {
    font-family: "AvenirBold";
    font-size: 2rem;
    z-index: 200;
}

span {
    color: $red;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 0 1rem 0;
    z-index: 100;
    @include tablet {
        display: block;
        position: fixed;
        width: auto;
    }
}

.links-container {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $white;
    width: 100%;
    height: 100vh;
    padding: 6.5rem 0 0 0;
    transition: 500ms;
    @include tablet {
        position: relative;
        left: 0;
        height: auto;
        padding: 0;
        margin: 2.5rem 0 0 0;
        background-color: unset;
        z-index: 0;
        .container {
            margin: 0;
        }
    }
}

.show-nav {
    left: 0;
    overflow: hidden;
}

.scroll-disable {
    overflow-y: hidden;
}

.active {
    padding: 0 0 0 2.5rem;
    a {
        color: $red !important;
    }
}

.links-item {
    margin: 0 0 2rem 0;
    a {
        font-family: "AvenirRegular";
        font-size: 2.3rem;
        color: $black;
        position: relative;
        transition: 500ms;
        &:hover {
            padding: 0 0 0 1.5rem;
        }
    }
    @include tablet {
        margin: 0 0 1.5rem 0;
        transition: 500ms;
        a {
            font-size: 1rem;
            &:hover {
                padding: 0 0 0 1.5rem;
            }
        }
    }
}

.breadsticks {
    position: relative;
    width: 3rem;
    height: 2rem;
    padding: 0.4rem;
    display: flex;
    justify-content: end;
    z-index: 10;
    cursor: pointer;
    span {
        position: absolute;
        height: 0.1rem;
        background-color: $black;
        transition: 500ms;
    }
    .span-1 {
        width: 100%;
    }
    .span-2 {
        width: 80%;
        top: 18px;
    }
    &:hover {
        .span-1 {
            width: 80%;
        }
        .span-2 {
            width: 60%;
        }
    }
    @include tablet {
        display: none;
    }
}

.close {
    top: 15px;
    width: 3rem;
    height: 2rem;
    span {
        background-color: $black;
    }
    .span-1 {
        width: 80%;
        top: 0;
        transform: rotate(225deg);
    }
    .span-2 {
        top: 0;
        transform: rotate(-225deg);
    }

    &:hover {
        span {
            background-color: $black;
        }
        .span-1, .span-2 {
            width: 80%;
        }
    }
}

.content-wrapper {
    padding: 2rem 0;
    @include tablet {
        padding: 3rem 0 3rem 13rem;
    }
    @include laptop {
        padding: 3rem 0 3rem 18rem;
    }
}

.hero-wrapper {
    padding: 0 0 3rem 0;
    margin: 0 0 7rem 0;
    h1 {
        width: auto;
        margin: 0 0 1.5rem 0;
    }
    p {
        width: 17rem;
        margin: 0 0 2.5rem 0;
    }
    a {
        text-decoration: underline;
        font-size: 1.3rem;
    }
    @include laptop {
        h1 {
            width: 33rem;
        }
    }
}

.about-wrapper {
    h1 {
        width: auto;
    }
    p {
        width: auto;
        margin: 0 0 2rem 0;
    }
    a {
        text-decoration: underline;
        font-size: 1.125rem;
    }
    @include laptop {
        h1 {
            width: 36rem;
        }
        p {
            width: 33rem;
        }
    }
}

.list-wrapper {
    margin: 2.5rem 0 0 0;
}

.list-container {
    width: auto;
    @include laptop {
        width: 33rem;
    }
}

.list-item {
    font-family: "AvenirRegular";
    display: inline-block;
    margin: 0 1.5rem 1.5rem 0;
}

.title {
    margin: 0 0 2rem 0;
    @include tablet {
        p {
            width: 26rem;
        }
    }
}

.project-wrapper {
    padding: 4rem 0 0 0;
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include laptop {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.project-card {
    width: 100%;
    margin: 0 0 2rem 0;
    img {
        max-width: 100%;
        margin: 0 0 1rem 0;
    }
    a {
        text-decoration: underline;
        font-size: 1.125rem;
    }
    @include laptop {
        width: 100%;
        margin: 0 0 4rem 0;
        display: flex;
        align-items: flex-end;
        img {
            max-width: 60%;
            margin: 0 2rem 0 0;
        }
    }
}

.project-details {
    margin: 0 0 2rem 0;
}

.project-link-container {
    margin: 1rem 0 0 0;
    a {
        margin: 0 1rem 0 0;
    }
}

.contact-wrapper {
    padding: 5rem 0 6rem 0;
    p {
        margin: 0 0 2.5rem 0;
    }
    a {
        text-decoration: underline;
        font-size: 1.3rem;
    }
}

.social-links-wrapper {
    margin: 3rem 0 0 0;
    li {
        display: inline-block;
        margin: 0 2rem 0 0;
    }
}


.footer {
    width: 100%;
    padding: 1rem 0;
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        p {
            font-size: 0.75rem;
        }
        @include tablet {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }

    }
}